.header {
    height: 34vw;
    margin: 30px auto;
    background: url('./banner-1.jpg') no-repeat;
    background-size: contain;
    position: relative;
}
.header-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    left: 6vw;
    max-width: 50%;
    bottom: 10%;
    animation: fadeIn 3s;
}
.header-content h2{
    font-weight: 500;
    color: rgb(255, 63, 63);
    font-size: max(4.5vw, 22px);
}
.header-content p{
    font-size: 1vw;
    color: rgb(255, 63, 63);
    line-height: 1.5;
}
.header-content button{
    border: none;
    color: rgb(255, 63, 63);
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: rgb(255, 255, 255);
    font-size: max(1vw, 13px);
    border-radius: 50px;
}
@media (max-width: 1050px) {
    .header-content {
        max-width: 45%;
        
    }
}
@media (max-width: 750px) {
    .header-content {
        max-width: 55%;
        
    }
    .header-content p {
        display: none;
    }
    .header-content button {
        padding: 2vw 3.5vw;
    }
}