.login-popup {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: black;
    display: grid;
}
.login-popup-title img {
    height: 15px;
    cursor: pointer;
}
.login-popup-container {
   place-self: center;
   width: max(23vw, 330px);
   color: #373737;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px 30px;
    border-radius: 8px;
    font-size: 14px;
    animation: fadeIn 0.5s;
}
.login-popup-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}
.login-popup-inputs {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.login-popup-inputs input {
    padding: 10px;
    border: 1px solid #bfbfbf;
    border-radius: 4px;
    font-size: 14px;
}
.login-popup-container button {
    border: none;
    color: white;
    font-weight: 500;
    padding: 12px 0;
    background-color: rgb(255, 63, 63);
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}
.login-popup-condition {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
}
.login-popup-condition input {
    margin-top: 5px;
}
.login-popup p span {
    color:  rgb(255, 63, 63);
    font-weight: 500;
    cursor: pointer;
}