.app-download {
    margin: auto auto;
    margin-top: 100px;
    font-size: max(3vw, 24px);
    text-align: center;
    font-weight: 500;
}
.app-downlaod-platforms {
    display: flex;
    justify-content: center;
    gap: max(2vw, 10px);
    margin-top: 40px;
}
.app-downlaod-platforms img {
    width: max(12vw, 150px);
    max-width: 180px;
    transition: 0.5s;
    cursor: pointer;
}
.app-downlaod-platforms img:hover {
    transform: scale(1.1);
}