.list-table-format {
    justify-content: space-between;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 15px;
    border: 1px solid #e1e1e1;
    color: black;
    font-size: 13px;
}
.list-table-format.title {
    display: flex;
    background-color: #e1e1e1;
    color: black;
    justify-content: space-between;
}
.list-table-format img {
    width: 50px;
}
@media (max-width:600px) {
    .list-table-format{
        grid-template-columns: 1fr 3fr 1fr;
        gap: 15px;
    }
    .list-table-format.title {
        display: none;
    }
}