.sidebar {
    width: 18%;
    min-height: 100vh;
    border: 1.5px solid #020202aa;
    border-top: 0;
    font-size: max(1vw, 10px);
}
.sidebar-options {
    padding-top: 50px;
    padding-left: 20%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.sidebar-option {
    display: flex;
    align-items: center;
    gap: 12px;
    border: 1px solid #020202aa;
    border-right: 0;
    padding: 8px, 10px;
    border-radius: 3px 0 px 0px 3px;
    cursor: pointer;
}
.sidebar-option img {
    height: 30px;
    margin: 5px;
}
.sidebar-option.active {
    background-color: rgb(241, 243, 245);
    border-color:  rgb(255, 63, 63);;
}
@media (max-width:900px){
    .sidebar-option p{
        display: none;
    }
}